<div class="card-body">
    <div class=" mt-sm-0 mt-2 me-md-0 me-sm-4">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <%= form_with model: @user, url: user_create_path do |form| %>
                <div class="input-group input-group-outline mb-3">
                    <label class="form-label text-dark">Email</label>
                    <%= form.text_field :email, class: "form-control", maxlength: 50 %>
                </div>
                <div class="input-group input-group-outline mb-3">
                    <label class="form-label text-dark">Password</label>
                    <%= form.text_field :password, class: "form-control", maxlength: 50 %>
                </div>
                <div class="input-group input-group-outline mb-3">
                    <label class="form-label text-dark">Password confirm</label>
                    <%= form.text_field :password_confirmation, class: "form-control", maxlength: 50 %>
                </div>
                <div>
                    <%= form.select :role_id, options_for_select([['Admin', 1], ['Comentarista', 2], ['Leitor', 3]], @user.role_id) %>
                </div>
                <div class="text-center">
                    <%= form.submit 'Salvar', class: "btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0" %>
                    <%= link_to 'Cancelar', users_path, class: "btn btn-lg bg-gradient-light text-primary btn-lg w-100 mt-4 mb-0" %>
                </div>
            <% end %>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group input-group-outline">
                    <label class="form-label">Type here...</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>