<% @comments.each do |comment|%>
    <div class="row align-items-start shadow-info">
        <hr> 
        <div class="col">
            <div class=" fas fa-user ">
                <div class="text-dark">
                    <%= comment.user.email%>
                    <%= comment.created_at%>
                </div>
                <div class="text-break">
                    <%= comment.content%>
                </div>
            </div>
            <div class="">
                <%= form_with model: @comment_son, local: false, :html => { :id => 'comentario' } do |form| %>
                    <%= form.text_field :content, :maxlenth => 15, class:"form-control bg-light border-radios-lg", size:"50x8"%>
                    <%= form.hidden_field :post_id, value: comment.post_id %>
                    <%= form.hidden_field :comment_id, value: comment.id%>
                    <%= form.submit 'Responder', class:'btn btn-sm btn-dark'%>
                <% end %>
                <div class="container-fluid">
                    <% comment.comments.each do |resposta|%>
                        <div class="text-dark fas fa-user">
                            <%= resposta.user.email%>
                            <%= resposta.created_at%>
                        </div>
                        <div class="text-break container-fluid">
                            <%= resposta.content%>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="">
                <% if current_user.try(:admin?)%>
                        <%= link_to 'Deletar', comment_path(comment), method: :delete, remote: true, data: { confirm: "Tem certeza?" }, class: "btn btn-danger btn-sm fas fa-trash justify-content-end" %>
                <% end %>
            </div>
        </div>
    </div>
    <br>
<% end %>